<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/icon/favicon-32x32.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title> Edit Movie </title>
</head>
<body>
    <!-- main content -->
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2> Edit Current Movie </h2>
                    </div>
                </div>
                <!-- end main title -->
                <span style = "color: red; margin-left: 5%; margin-bottom: 2%;">
                    {{ error }}
                </span>
                {{!-- if some error exists, it will be displayed (like you movie addition failed or something) --}}
                <!-- form -->
                <div class="col-12">
                    <form action="/admin/movies/edit-movie/{{movie._id}}" method = "post" class="form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-md-5 form__cover">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-12">
                                        <div class="form__img">
                                            <label for="form__img-upload"> Update Poster (270 x 400) <br> Your previous poster name is:  <br> {{movie.poster}} </label>
                                            <input required id="form__img-upload" name="movie_poster" type="file" accept=".png, .jpg, .jpeg">
                                            <img id="form__img" src = "" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 form__content">
                                <div class="row">
                                    <div class="col-12">
                                        <input required type="text" class="form__input" name = "movie_name" value = "{{movie.name}}">
                                    </div>

                                    <div class="col-12">
                                        <textarea required id="text" name="movie_desc" class="form__textarea">{{movie.description}}</textarea>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input required type="text" class="form__input" name = "runtime" value = {{movie.runtime}}>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name = "movie_quality" class="js-example-basic-single" id="quality" required>
                                            {{#select2 movie.videoQuality}}    
                                            <option value="HDTV">HDTV</option>
											<option value="FullHD">FullHD</option>
											<option value="BluRay">BluRay</option>
											<option value="DVDRip">DVDRip</option>
											<option value="TeleSync">Telesync</option>
											<option value="WEBDL">WEBDL</option>
											<option value="Cam">Cam</option>
                                            {{/select2}}
										</select>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input required name = "year" type="text" class="form__input" value = {{ movie.yearReleased }}>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input name = "visibility_status" type="text" class="form__input" value =  {{#visibilityStatus movie.visibility}} {{/visibilityStatus}} required>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <select class="js-example-basic-multiple" name = "movie_genres" id="genre" multiple="multiple" required>
											{{#each movie.genre as |genreName arrayIndex|}}
                                                {{#select genreName}} {{/select}}
                                            {{/each}}
                                            
                                            <option value="Comedy"> Comedy </option>
                                            <option value="Horror"> Horror </option>
                                            <option value="Action"> Action </option>
                                            <option value="Drama"> Drama </option>
                                            <option value="Fantasy"> Fantasy </option>
                                            <option value="Mystery"> Mystery </option>
                                            <option value="Romance"> Romance </option>
                                            <option value="Thriller"> Thriller </option>
                                            <option value="Western"> Horror </option>
                                            <option value="Psychological"> Psychological </option>
                                            <option value="True Story"> True Story </option>
                                            <option value="Technology"> Technology </option>
                                            <option value="Dark"> Dark </option>
                                            <option value="Erotica"> Erotica </option>
                                            <option value="Anime"> Anime </option>
                                            <option value="Historical"> Historical </option>
                                            <option value="Military"> Military </option>
                                            <option value="War"> War </option>
                                            <option value="Family"> Family </option>
                                            <option value="Kids"> Kids </option>
                                            <option value="Spy"> Spy </option>
                                            <option value="Espionage"> Espionage </option>
                                            <option value="Adventure"> Adventure </option>
                                            <option value="Superhero"> Superhero </option>
                                            <option value="Sexual"> Sexual </option>
                                            <option value="Teen"> Teen </option>
                                            <option value="Philosophy"> Philosophy </option>
                                            
                                            {{!-- Other Options will be added dynamically from the DB --}}
										</select>
                                    </div>
                                    <div class="col-12">
                                        <div class="form__gallery">
                                            <label id="gallery1" for="form__gallery-upload">Upload photos <br> Your previous photos are listed down below </label>
                                            {{!-- <textarea> {{#select3 movie.photos}} {{/select3}} </textarea> --}}
                                            <input required data-name="#gallery1" id="form__gallery-upload" name="movie_photos" class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                                        </div>
                                        <textarea style = "color: gray; background-color:#2b2b31;" class="col-12" rows = "5"> {{#forEditMovies movie.photos}} {{/forEditMovies}} </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <input required type="text" class="form__input" name = "youtube_video" value = {{ movie.videoLink }}>
                                    </div>
                                    <!-- end movie -->
                                    <div class="col-12">
                                        <button type="submit" class="form__btn"> Update </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
    <!-- end main content -->

    <!-- JS -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>