<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/plyr.css">
	<link rel="stylesheet" href="/css/photoswipe.css">
	<link rel="stylesheet" href="/css/default-skin.css">
	<link rel="stylesheet" href="/css/main.css">
	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<title> Movie-Details </title>
</head>
<body class="body">
	<!-- details -->
	<section class="section">
		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
                    <div style = "font-size: 25px; color: green;">
                        {{ publicReviewAdded }}
                    </div>
					<h1 class="details__title"> {{ movie.name }} </h1>
				</div>
				<!-- end title -->
				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img style = "height: 350px;" src="/posters/{{movie.poster}}" alt="">
								</div>
							</div>
							<!-- end card cover -->
							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i> {{#movieRating movie.rating movie.totalNumberOfRatings}} {{/movieRating}} </span>

										<ul class="card__list">
											<li> {{ movie.videoQuality }} </li>
											<li> 16+ </li>
											<li> USA </li>
										</ul>
									</div>
									<ul class="card__meta">
										<li><span> Genre: </span> <a> {{#genreForMovieDetails movie.genre}} {{/genreForMovieDetails}} </a> </li>
										<li><span> Release Year: </span> {{ movie.yearReleased }} </li>
										<li><span> Running Time: </span> {{ movie.runtime }} minutes </li>
									</ul>
									<div class="col-12 card__description card__description--details">{{movie.description}}</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->
                <iframe style = "border: none" class="col-12 col-xl-6" height = "350"
                    src={{ movie.videoLink }}>
                </iframe> 
				
                <!-- /watch?v=  *** find this in the incoming link -->
                <!-- /embed/ *** and replace it with this string before putting to DB -->   
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title"> Reviews & Photos </h2>
						<!-- end content title -->
						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"> Public Reviews ({{#countPhotos movie.reviews}} {{/countPhotos}}) </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"> More Photos ({{#countPhotos movie.photos}} {{/countPhotos}}) </a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- comments -->
								<div class="col-12">
									<div class="comments">
										<ul class="comments__list">
											{{#each movie.reviews}}
                                                <li class="comments__item">
                                                    <div class="comments__autor">
                                                        <img class="comments__avatar" src="/img/user.svg" alt="">
                                                        <span class="comments__name"> {{ reviewAuthor }}: &nbsp; {{ reviewTitle }} </span>
                                                        <span style = "color: #ff55a5;" class="comments__time"> {{#dateHelper reviewDateCreated}} {{/dateHelper}} | {{ reviewTimeCreated }} </span>
                                                        <span class="reviews__rating"><i class="icon ion-ios-star"></i> {{ reviewRating }} </span>
                                                    </div>
                                                    <p class="comments__text"> {{ reviewContent }} </p>
                                                    <div class = "div-1-{{_id}}">
                                                        <div class="comments__actions">
                                                            <div class="comments__rate">
                                                                <div style = "color; red">
                                                                    
                                                                    {{movieReviewd}}
                                                                </div>
                                                                <button class = "up" onclick = "ajaxHelper('{{_id}}', 'up')" type = "button"><i class="icon ion-md-thumbs-up"></i> {{ reviewLiked }} </button>
                                                                <button class = "down" onclick = "ajaxHelper('{{_id}}', 'down')" type = "button"> {{ reviewDisliked }} <i class="icon ion-md-thumbs-down"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class = "div-2-{{_id}}">
                                                        <div class="comments__actions">
                                                            <div class="comments__rate">
                                                                <span style = "color: green; font-size: 15px;"> Review upvoted </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class = "div-3-{{_id}}">
                                                        <div class="comments__actions">
                                                            <div class="comments__rate">
                                                                <span style = "color: red; font-size: 14px;"> Review downvoted </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <script>
                                                    $(document).ready( () => {
                                                        console.log('The document is ready');
                                                        $('.div-2-'+'{{_id}}').hide();
                                                        $('.div-3-'+'{{_id}}').hide();
                                                    });
                                                </script>
                                            {{/each}}
										</ul>
                                        <br> <br>
                                        <script>
                                            const ajaxHelper = (id, voteValue) => {
                                                console.log('ajaxHelper movieID:', '{{ movie._id }}');
                                                $('.div-1-'+id).hide();
                                                
                                                if (voteValue === 'up') 
                                                    $('.div-2-'+id).show();
                                                else if (voteValue === 'down') 
                                                    $('.div-3-'+id).show();

                                                ajax(id, voteValue);
                                            }
                                        </script>
                                        <script>
                                            const ajax = (reviewID, voteValue) => {
                                                console.log('Sending AJAX', `/home/movies/reviews/vote/${ voteValue }*${ reviewID }*{{ movie._id }}`);

                                                $.ajax({
                                                    type: 'GET', 
                                                    url: `/home/movies/reviews/vote/${ voteValue }*${ reviewID }*{{ movie._id }}`, 
                                                    
                                                    success: (serverResponse) => {
                                                        console.log(serverResponse);
                                                    }
                                                });
                                            };
                                        </script>
                                        <h1 class="details__title"> Share Your Thoughts? </h1>
										<form action="/home/movies/reviews/{{movie._id}}?_method=PUT" method = "post" class="form">
											<input name = "reviewTitle" type="text" class="form__input" placeholder = "Review Title" required>
											<textarea name = "reviewBody" class="form__textarea" required placeholder = "Write Review"></textarea>
                                            <input required name = "reviewRating" type = "number" step = "any" max = "10.0" class="form__input" placeholder = "Rating (0.0 to 10.0)">
											<button type = "submit" class="form__btn"> Send </button>
										</form>
									</div>
								</div>
								<!-- end comments -->
							</div>
						</div>
						<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
							<!-- project gallery -->
							<div class="gallery" itemscope>
								<div class="row">
                                    {{#each movie.photos as |photoName arrayIndex|}}
                                        {{#moviePhotoRequest photoName}} {{/moviePhotoRequest}}
                                    {{/each}}
								</div>
							</div>
							<!-- end project gallery -->
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar"> People Also Search For </h2>
						</div>
                        <!-- card -->
                 <div class="col-6 col-sm-4 col-lg-6">
                     <div class="card">
                         <div class="card__cover">
                             <img src="/img/covers/cover.jpg" alt="">
                             <a href="#" class="card__play">
                                 <i class="icon ion-ios-play"></i>
                             </a>
                         </div>
                         <div class="card__content">
                             <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                             <span class="card__category">
                                 <a href="#">Action</a>
                                 <a href="#">Triler</a>
                             </span>
                             <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                         </div>
                     </div>
                 </div>
                 <!-- end card -->
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</section>
	<!-- end content -->


	<!-- JS -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.mousewheel.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="/js/wNumb.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/plyr.min.js"></script>
	<script src="/js/jquery.morelines.min.js"></script>
	<script src="/js/photoswipe.min.js"></script>
	<script src="/js/photoswipe-ui-default.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>
